streamlit
pandas
numpy
yfinance
plotly
matplotlib
scikit-learn
scipy
pillow
streamlit
numpy
pandas
plotly
matplotlib
scipy
streamlit
numpy
pandas
plotly
matplotlib
pyvista
scipy
rocket
jinja2
uvloop
streamlit 
pandas 
numpy 
plotly.express 
plotly.graph_objects
seaborn 
matplotlib.pyplot 

